body {
  margin: 0;
  
  font-family: 'Open Sans', sans-serif;
}

.page {
  width: 1000px;
  margin: 65px auto 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 55px;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
  font-family: 'Mulish', sans-serif;
}

ul li a:hover {
  font-weight: bold;
}

a {
  color: #1F1534;
  text-decoration: none;
}

h1 {
  font-family: 'Mulish', sans-serif;

  font-size: 49px;
  line-height: 56px;
  color: #1F1534;

  font-weight: normal;

  width: 490px;
}

h1 span {
  color: #89C5CC;
}

section p {
  font-size: 14px;
  line-height: 28px;
  color: #7D7987;

  margin: 40px 0;
}

button {
  color: #F9F9F9;
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 21px;

  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 14px 32px 15px;
  gap: 10px;

  background: #69B99D;
  border: none;
  border-radius: 4px;

  cursor: pointer;
}

button:hover {
  background: #48a888;
}

footer {
  font-size: 14px;
  line-height: 28px;
  
  text-align: center;

  margin-top: 80px;
}